---
---

@import "{{ site.theme }}";

.qbp {
    a {
        &:hover, &:focus {
            font-weight: normal;
        }
    }

    header {
        float: none;
        position: relative;
        width: 100%;
    }

    section {
        float: none;
        width: 100%;
    }

    footer {
        float: none;
        position: relative;
        width: 100%;
        bottom: initial;
    }
}